@model ECommerce.Web.Areas.Admin.Models.ProductViewModel

@{
    ViewBag.Title = "Create";
}
<style>
    .prod_img {
        width: 100px;
        border: 1px solid #ddd;
        margin-bottom: 5px
    }
</style>

<section class="content-header">
    <h1>
        Product
        <small>Preview</small>
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header">
                    <h3 class="box-title">Add Product</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <form class="form-horizontal" method="post" action="/Admin/ManageProduct/Create" enctype = "multipart/form-data" >
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="email">Product Name:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="@Model.Name" name="Name"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="email">Product Price:</label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="email">Color:</label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.Color, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="email">Description:</label>
                                    <div class="col-sm-8">
                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="email">Select Category:</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="CategoryID" onchange="load_category(this)">
                                            @foreach (var item in Model.Category)
                                            {
                                                <option value="@item.CategoryID">@item.CategoryName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="email">Sub Category Name:</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="sub_cat" name="SubCategoryID" required></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="email">Image:</label>
                                    <div class="col-sm-8">
                                        <img class="prod_img" src="~/Uploads/img/product/dummy_product.jpg" alt="" />
                                        <input class="form-control" name="ImageFile" type="file" id="img">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-8 col-sm-offset-4">
                                        <input type="submit" class="btn btn-success" value="Add">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.prod_img').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#img").change(function () {
            readURL(this);
        });

        function load_category(select) {
            var catID = select.value;
            $.ajax({
                url: "/Admin/ManageProduct/GetSubCategory",
                type: 'POST',
                dataType: 'json',
                data: { CategoryID: catID },
                success: function (result) {
                    $('#sub_cat').html('');
                    $.each(result, function (index, value) {
                        var option = '<option value="' + value.SubCategoryID + '">' + value.SubCategoryName + '</option>';
                        $('#sub_cat').append(option);
                    });
                }
            });
        }
    </script>
    }

