@using ECommerce.Web.Models
@model IEnumerable<ECommerce.Web.Areas.Admin.Models.ProductViewModel>
@{
    var cats = CategoryList.GetAllCategory();
    ViewBag.Title = "Index";
    int count = 1;
}
<section class="content-header">
    <h1>
        Products List
        <small>List of Products</small>
        <a href="/Admin/ManageProduct/Create" class="btn btn-success">Create New</a>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addMoreModal">Store Item</button>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Products</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="table" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width: 50px">Sl</th>
                                <th>Name</th>
                                <th>Number</th>
                                <th>Sub Category </th>
                                <th>Units</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderBy(x=> x.Name))
                            {
                                <tr>
                                    <td>@(count++)</td>
                                    <td>@item.Name</td>
                                    <td>P-@item.ItemNumber.ToString("000000")</td>
                                    <td>@item.SubCategoryName</td>
                                    <td>@item.UnitAvailable</td>
                                    <td>@item.Status</td>
                                    <td>
                                        <a href="/Admin/ManageProduct/Update/@item.ID">Edit</a> |
                                        <a href="javascript:void(0)" onclick="show_modal('@item.ID')">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Product</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure want to delete this product?</p>
            </div>
            <div class="modal-footer">
                <form method="post" action="/Admin/ManageProduct/Delete">
                    <input type="hidden" id="prod_id" name="ID" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>

    </div>
</div>

<div id="addMoreModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Store Product Item</h4>
            </div>
            <form method="post" action="/Admin/ManageProduct/StoreItem">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="email">Select Category:</label>
                        <select class="form-control" id="catid" onchange="load_category(this)">
                            <option value="">-- Select category --</option>
                            @foreach (var item in cats)
                            {
                                <option value="@item.CategoryID">@item.CategoryName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="email">Select Sub Category:</label>
                        <select class="form-control" id="subcatid" onchange="load_product(this)">
                            
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="email">Select Product:</label>
                        <select class="form-control" id="product" name="ID" required>
                           
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="email">Store Amount:</label>
                        <input type="number" class="form-control" name="UnitAvailable">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    <script>
        function show_modal(id) {
            $('#prod_id').val(id);
            $('#deleteModal').modal('show');
        }

        function load_category(select) {
            var catID = select.value;
            if (catID != '') {
                $.ajax({
                    url: "/Admin/ManageProduct/GetSubCategory",
                    type: 'POST',
                    dataType: 'json',
                    data: { CategoryID: catID },
                    success: function (result) {
                        $('#subcatid').html('<option value="">-- Select Sub Category --</option>');
                        $.each(result, function (index, value) {
                            var option = '<option value="' + value.SubCategoryID + '">' + value.SubCategoryName + '</option>';
                            $('#subcatid').append(option);
                        });
                    }
                });
            }
            else {
                $('#subcatid').html('');
                $('#product').html('');
            }
        }

        function load_product(select) {
            var subcatID = select.value;
            if (subcatID != '') {
                $.ajax({
                    url: "/Admin/ManageProduct/GetProducts",
                    type: 'POST',
                    dataType: 'json',
                    data: { SubCategoryID: subcatID },
                    success: function (result) {
                        $('#product').html('<option value="">-- Select Product --</option>');
                        $.each(result, function (index, value) {
                            var option = '<option value="' + value.ID + '">' + value.Name + '</option>';
                            $('#product').append(option);
                        });
                    }
                });
            }
            else {
                $('#product').html('');
            }
        }
    </script>
}