@model ECommerce.Web.Models.ShopModel
@{
    ViewBag.Title = "Cart";
    int i = 1;
}

<style>
    .cart-image {
        height: 50px
    }
</style>

<section id="cart_items">
    <div class="container">
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Products)
                    {
                        i++;
                        <tr id="tr-@i">
                            <td class="cart_product">
                                @if (!string.IsNullOrWhiteSpace(item.ImageLink))
                                {
                                    <a href=""><img src="~/Uploads/img/product/@item.ImageLink" alt="" class="cart-image"></a>
                                }
                                else
                                {
                                    <a href=""><img src="~/Uploads/img/product/dummy_product.jpg" alt="" class="cart-image"></a>
                                }
                            </td>
                            <td class="cart_description">
                                <h4><a href="">@item.Name</a></h4>
                                <p>Product NO: @item.Number</p>
                            </td>
                            <td class="cart_price">
                                <input type="hidden" id="price-@i" value="@item.Price" />
                                <input type="hidden" class="srl" value="@i" />
                                <p>$@item.Price</p>
                            </td>
                            <td class="cart_quantity">
                                <div class="cart_quantity_button">
                                    <a class="cart_quantity_up" href="javascript:void(0)" onclick="ChangeCount(1, @i)"> + </a>
                                    <input class="cart_quantity_input" type="text" id="quantity-@i" name="quantity" onchange="CalculateCart()" value="@item.Quantity" autocomplete="off" size="2">
                                    <a class="cart_quantity_down" href="javascript:void(0)" onclick="ChangeCount(-1, @i)"> - </a>
                                </div>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price" id="total-@i">$@item.Total</p>
                            </td>
                            <td class="cart_delete">
                                <a class="cart_quantity_delete" href="javascript:void(0)" onclick="RemoveItem(@i)"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->
<section id="do_action">
    <div class="container">
        <div class="heading">
            <h3>What would you like to do next?</h3>
            <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="total_area">
                    <ul>
                        <li>Sub Total <span id="sTotal">$@Model.GrandTotal</span></li>
                        <li>Tax <span>$0</span></li>
                        <li>Shipping Cost <span>Free</span></li>
                        <li>Total <span id="gTotal">$@Model.GrandTotal</span></li>
                    </ul>
                    <input class="btn btn-default update" type="submit" value="Update">
                    <input class="btn btn-default check_out" type="submit" value="Check Out">
                </div>
            </div>
        </div>
    </div>
</section><!--/#do_action-->
