@model ECommerce.Web.Areas.Admin.Models.InvoiceViewModel
@{
    ViewBag.Title = "Details";
    int count = 1;
    var enable = true;
}
<section class="content-header">
    <h1>
        Edit Invoice
    </h1>
</section>
<form action="/Admin/ManageInvoice/Update" method="post">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Invoice Details</h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tr>
                                <th>Inv. No.</th>
                                <td>I-@Model.Number.ToString("000000") </td>
                                <th>Create Date</th>
                                <td>@Model.CreatedOn.ToString("MMM dd, yyyy hh:mm tt")</td>
                            </tr>
                            <tr>
                                <th>Customer Name</th>
                                <td>@Model.CustomerName</td>
                                <th>Status</th>
                                <td>@Html.EnumDropDownListFor(model => model.Status)</td>
                            </tr>
                            <tr>
                                <th>Total Items</th>
                                <td>@Model.Products.Select(x => x.Quantity).Sum()</td>
                                <th>Grand Total</th>
                                <td><span id="grand-total">@Model.Products.Select(x => x.Total).Sum()</span></td>
                            </tr>
                        </table>
                    </div>
                </div>

                @if (Model.BillingAddress != null)
                {
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Billing Address</h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tr>
                                    <th>Name</th>
                                    <td>@Model.BillingAddress.Name </td>
                                    <th>Email</th>
                                    <td>@Model.BillingAddress.Email</td>
                                </tr>
                                <tr>
                                    <th>Mobile</th>
                                    <td>@Model.BillingAddress.Mobile</td>
                                    <th>Optional Mobile</th>
                                    <td>@Model.BillingAddress.OptionalMobile</td>
                                </tr>
                                <tr>
                                    <th>Address</th>
                                    <td colspan="3">@Model.BillingAddress.Address</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Product List</h3>
                            </div>
                            <div class="box-body">
                                @Html.HiddenFor(model => model.InvoiceID)
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Sl.</th>
                                            <th>Product</th>
                                            <th class="text-right">Price</th>
                                            <th class="text-right" style="width: 90px">Quantity</th>
                                            <th class="text-right" style="width: 80px">Available</th>
                                            <th class="text-right" style="width: 90px">Discount</th>
                                            <th class="text-right" style="width: 90px">Total</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Products)
                                        {
                                            string cls = "";
                                            if (item.UnitAvailable < item.Quantity)
                                            {
                                                cls = "danger";
                                                enable = false;
                                            }
                                            <tr id="tr-@item.ID" class="@cls">
                                                <td>
                                                <input type="hidden" value="@item.ID" class="ids" />
                                                @(count++.ToString("00"))</td>
                                                <td>@item.ProductName</td>
                                                <td class="text-right"><input type="hidden" id="prc-@item.ID" value="@item.Price" />@item.Price</td>
                                                <td><input name="ProductQuantity[]" value="@item.Quantity" class="form-control text-right" type="number" id="qnt-@item.ID" onchange="calculate('@item.ID')" /></td>
                                                <td class="text-right">
                                                    <input type="hidden" id="avl-@item.ID" value="@item.UnitAvailable" />
                                                    @item.UnitAvailable
                                                </td>
                                                <td><input name="ProductDiscount[]" value="@item.Disccount" class="form-control text-right" type="number" id="dsc-@item.ID" onchange="calculate('@item.ID')" /></td>
                                                <td><input value="@item.Total" id="total-@item.ID" readonly class="form-control total text-right" /></td>
                                                <td>
                                                    <input name="InvoiceProductID[]" type="hidden" value="@item.ID" />
                                                    <a href="javascript:void(0)" onclick="show_aert('@item.ID')">Remove</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <div class="row" style="text-align: center; padding-top: 10px">
                                    @if (enable)
                                    {
                                        <input type="submit" class="btn btn-primary" value="Update" id="submit"/>
                                    }
                                    else
                                    {
                                        <input type="submit" class="btn btn-primary" value="Update" disabled id="submit" />
                                    }
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Remove Product</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure want to remove this product?</p>
            </div>
            <div class="modal-footer">
                    <input type="hidden" id="inv_prod_id" name="ID" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" onclick="remove_item()">Delete</button>
            </div>
        </div>

    </div>
</div>
<script>
    function show_aert(id) {
        $('#inv_prod_id').val(id);
        $('#deleteModal').modal('show');
    }

    function remove_item() {
        var id = $('#inv_prod_id').val();
        $('#tr-' + id).remove();
        calculate_total();
        $('#deleteModal').modal('hide');
    }

    function calculate(id) {
        var discount = $('#dsc-' + id).val();
        var price = $('#prc-' + id).val();
        var quantity = $('#qnt-' + id).val();
        var total = (price * quantity) - discount;
        $('#total-' + id).val(total);
        calculate_total();
    }

    function calculate_total() {
        var gTotal = 0;
        var enbl = true;
        $('.ids').each(function () {
            var pid = $(this).val();
            var avl = parseInt($('#avl-' + pid).val());
            var qnt = parseInt($('#qnt-' + pid).val());
            if (qnt > avl) {
                enbl = false;
                $('#tr-' + pid).addClass('danger');
            }
            else {
                $('#tr-' + pid).removeClass('danger');
            }
            $('#submit').prop('disabled', !enbl)
        });

        $(".total").each(function (index) {
            gTotal += parseInt($(this).val());
        });
        $('#grand-total').text(gTotal);
    }
</script>
