@model ECommerce.Web.Models.ProductDetailsModel
@{
    ViewBag.Title = "Product Details";
    ViewBag.Page = "product";
    var f3 = Model.MoreProducts.Take(3);
    var l3 = Model.MoreProducts.Skip(3).Take(3);
}
<style>
    th {
        text-align: right;
        padding-right: 30px !important;
    }
</style>
<section>
    <div class="container">
        <div class="row">
            @Html.Partial("_Category")
            <div class="col-sm-9 padding-right">
                <div class="product-details">
                    <!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            @if (string.IsNullOrWhiteSpace(Model.Product.Image))
                            {
                                <img src="~/Uploads/img/product/dummy_product.jpg" alt="" />
                            }
                            else
                            {
                                <img src="~/Uploads/img/product/@Model.Product.Image" alt="" />
                            }
                            <h3>ZOOM</h3>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="product-information">
                            <!--/product-information-->
                            <img src="~/Content/images/product-details/new.jpg" class="newarrival" alt="" />
                            <h2>@Model.Product.Name</h2>
                            <p>Product No: @Model.Product.ItemNumber.ToString("0000000")</p>
                            <span>
                                <span>US $@Model.Product.Price</span>
                                <label>Quantity:</label>
                                <input type="text" value="3" />
                                <button type="button" class="btn btn-fefault cart" onclick="AddToCart('@Model.Product.ID')">
                                    <i class="fa fa-shopping-cart"></i>
                                    Add to cart
                                </button>
                            </span>
                            <p><b>Availability:</b> 
                            @if (Model.Product.UnitAvailable > 0)
                            {
                                <span>In Stock</span>
                            }
                            else
                            {
                                <span>Out of Stock</span>
                            }
                            </p>
                            <p><b>Condition:</b> New</p>
                            <p><b>Brand:</b> E-SHOPPER</p>
                            <a href=""><img src="~/Content/images/product-details/share.png" class="share img-responsive" alt="" /></a>
                        </div><!--/product-information-->
                    </div>
                </div><!--/product-details-->

                <div class="category-tab shop-details-tab">
                    <!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li><a href="#details" data-toggle="tab">Details</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="reviews">
                            <div class="col-sm-12">
                                <table class="table">
                                    <tr>
                                        <th style="width:20%;">Item No:</th>
                                        <td>@Model.Product.ItemNumber</td>
                                    </tr>
                                    <tr>
                                        <th>Name:</th>
                                        <td>@Model.Product.Name</td>
                                    </tr>
                                    <tr>
                                        <th>Colors:</th>
                                        <td>@Model.Product.Color</td>
                                    </tr>
                                    <tr>
                                        <th>Description:</th>
                                        <td>@Model.Product.Description</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </div><!--/category-tab-->

                <div class="recommended_items">
                    
                    <h2 class="title text-center">recommended items</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                @foreach (var item in f3)
                                {
                                    <div class="col-sm-4">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    @if (string.IsNullOrWhiteSpace(item.Image))
                                                    {
                                                        <img src="~/Uploads/img/product/dummy_product.jpg" alt="" />
                                                    }
                                                    else
                                                    {
                                                        <img src="~/Uploads/img/product/@item.Image" alt="" />
                                                    }
                                                    <h2>$@item.Price</h2>
                                                    <p>@item.Name</p>
                                                    <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="item">
                               @foreach (var item in l3)
                               {
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                @if (string.IsNullOrWhiteSpace(item.Image))
                                                {
                                                    <img src="~/Uploads/img/product/dummy_product.jpg" alt="" />
                                                }
                                                else
                                                {
                                                    <img src="~/Uploads/img/product/@item.Image" alt="" />
                                                }
                                                <h2>$@item.Price</h2>
                                                <p>@item.Name</p>
                                                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               }
                            </div>
                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div><!--/recommended_items-->

            </div>
        </div>
    </div>
</section>