@model ECommerce.Web.Models.HomeModel
@{
    ViewBag.Title = "Home Page";
    ViewBag.Page = "home";
    var products = Model.Products.Take(6);
    var fproducts = Model.FeaturedProducts.Take(6);

    int t = 0;
}
<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>Free E-Commerce Template</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/Content/images/home/girl1.jpg" class="girl img-responsive" alt="" />
                                <img src="~/Content/images/home/pricing.png" class="pricing" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>100% Responsive Design</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/Content/images/home/girl2.jpg" class="girl img-responsive" alt="" />
                                <img src="~/Content/images/home/pricing.png" class="pricing" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>Free Ecommerce Template</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/Content/images/home/girl3.jpg" class="girl img-responsive" alt="" />
                                <img src="~/Content/images/home/pricing.png" class="pricing" alt="" />
                            </div>
                        </div>
                    </div>
                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            @Html.Partial("_Category")
            <div class="col-sm-9 padding-right">

                <div class="features_items">
                    <h2 class="title text-center">Featured Products</h2>
                    @foreach (var item in fproducts)
                    {
                        t++;
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        @if (string.IsNullOrWhiteSpace(item.Image))
                                        {
                                            <img src="~/Uploads/img/product/dummy_product.jpg" alt="" />
                                        }
                                        else
                                        {
                                            <img src="~/Uploads/img/product/@item.Image" alt="" />
                                        }
                                        <h2>$@item.Price</h2>
                                        <p>@item.Name</p>
                                        <a href="javascript:void(0)" class="btn btn-default add-to-cart" onclick="AddToCart( '1', '@item.ID')"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>$@item.Price</h2>
                                            <p>@item.Name</p>
                                            <a href="javascript:void(0)" class="btn btn-default add-to-cart" onclick="AddToCart( '1', '@item.ID')"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="choose">
                                    <ul class="nav nav-pills nav-justified">
                                        <li><a href="/Product/Details/@item.ID"><i class="fa fa-plus-square"></i>View Details</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        if (t % 3 == 0)
                        {
                            <div class="clearfix"></div>
                        }
                    }
                </div>

                <div class="features_items">
                    <h2 class="title text-center">All Products</h2>

                    @foreach (var item in products)
                    {
                        t++;
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        @if (string.IsNullOrWhiteSpace(item.Image))
                                        {
                                            <img src="~/Uploads/img/product/dummy_product.jpg" alt="" />
                                        }
                                        else
                                        {
                                            <img src="~/Uploads/img/product/@item.Image" alt="" />
                                        }
                                        <h2>$@item.Price</h2>
                                        <p>@item.Name</p>
                                        <a href="javascript:void(0)" class="btn btn-default add-to-cart" onclick="AddToCart( '1', '@item.ID')"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>$@item.Price</h2>
                                            <p>@item.Name</p>
                                            <a href="javascript:void(0)" class="btn btn-default add-to-cart" onclick="AddToCart( '1', '@item.ID')"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="choose">
                                    <ul class="nav nav-pills nav-justified">
                                        <li><a href="/Product/Details/@item.ID"><i class="fa fa-plus-square"></i>View Details</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        if (t % 3 == 0)
                        {
                            <div class="clearfix"></div>
                        }
                    }
                </div>

            </div>
        </div>
    </div>
</section>
